@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #3E2723;
    background-color: #FFE4C4 ;
    font-family: 'Jersey 10';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B5835A;
    color: #3E2723;
    padding: 1rem;
    font-size: 50px;
}

header img {
    max-height: 100px;
}

header h1 {
    margin: 0;
    font-size: 100px;
    flex-grow: 1;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #FFE4C4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2rem;
}

h2 {
    border-bottom: 2px solid #3E2723;
    padding-bottom: 0.5rem;
    color: #3E2723;
    font-size: 50px;
}

.podcast-player iframe {
    width: 100%;
    border: none;
    margin: 1rem 0;
    height: 150px;
}

.thumbnail img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #3E2723;
    color: #B5835A;
    margin-top: 2rem;
}

a {
    color: #3E2723;
    text-decoration: none;
}

a:hover {
    color: #B5835A;
}
